*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlineText{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 10px;
}

.subtitle{
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}


.iconFooter:hover{
  fill : #D87D4A;
  transition: all ease-in-out 0.1s;
}


.svgFooter:hover > .iconFooter{
  fill : #D87D4A;
  transition: all ease-in-out 0.1s;
}
/*  bg-pattern-circle bg-[-12rem_1rem]">
*/

.zx9-grid-home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D87D4A ;
  border-radius: 8px;
  color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 32px;
}

@media screen and (max-width:1024px) {
  .zx9-grid-home{
    flex-direction: column;
  }
  
} 





