/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* toastify */

.Toastify__toast-icon > svg:first-child{
  fill: #D87D4A;
}

.Toastify__progress-bar--success{
  background: #D87D4A !important;
}


/* block while modal is open */

.block-scroll {
  overflow: hidden;
}


/* text styling */

.overlineText{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 10px;

}

.subtitle{
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 1 !important;
}


/* inputs */

.inputFormCheckout{
  border: 1px solid #CFCFCF;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  padding-left: 24px !important;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 24px !important;
}

.inputFormCheckout:focus{
  outline: solid 1px #D87D4A;
  border: none;
  color: black;
  font-weight: bold;
}

.inputFormCheckout:not(:focus) {
  color: black;
  font-weight: bold;
}

.inputFormCheckout::placeholder{
  font-size: 14px;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  border-radius: 8px;
}

.inputFormCheckoutRadio{
  border: #CFCFCF 1px solid;
  padding: 23px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.inputFormCheckoutRadio > input{
  margin-right: 16px; 
  color: #D87D4A;
}

.labelForm{
  font-size: 12px;
  padding-left: 2px;
}

.inputFormCheckoutRadio input[type="radio"] {
  accent-color: #D87D4A;
}

.inputFormCheckoutRadio:focus-within {
  border-color: #D87D4A; 
}


/* footer */

.iconFooter:hover{
  fill : #D87D4A;
  transition: all ease-in-out 0.1s;
}


.svgFooter:hover > .iconFooter{
  fill : #D87D4A;
  transition: all ease-in-out 0.1s;
}

.linkFooter img:hover{
  filter : contrast(60%) sepia(1) hue-rotate(306deg) saturate(1000%);
  transition: all ease-in-out 0.5;
}


/* grid home */


.first-section-grid-home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D87D4A ;
  border-radius: 8px;
  color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 32px;
  gap: 6rem;
  background-position: -12rem 1rem;
}

.first-section-grid-home-img{
  max-height: 493px;
  max-width: 410px;
  position: relative;
  margin-bottom: -0.5rem;
}

@media screen and (max-width:1024px) {
  .first-section-grid-home{
    flex-direction: column;
    background-position: center -16rem;
    text-align: center;
    max-height: 720px;
  }
  .first-section-grid-home-img{
    max-height: 240px;
    max-width: 200px;
    margin-bottom: 0;

  }
} 


@media screen and (max-width:640px){
  .first-section-grid-home{
    max-height: 600px;
    background-position: center -20rem;
    gap: 2rem;
  }

  .first-section-grid-home-img{
    max-height: 215px;
    max-width: 180px;
    margin-bottom: 0;
  }

  .first-section-grid-home-img > img{
    padding-top: 1.5rem;
    
  }

}




