*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlineText{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 10px;
}

.subtitle{
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

input{
  border: 1px solid #CFCFCF;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  padding-left: 24px !important;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 24px !important;
}

input:focus{
  outline: solid 1px #D87D4A;
  border: none;
  color: black;
  font-weight: bold;
}

input:not(:focus) {
  color: black;
  font-weight: bold;
}

input::placeholder{
  font-size: 14px;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  border-radius: 8px;
}

label{
  font-size: 12px;
  padding-left: 2px;
}


.iconFooter:hover{
  fill : #D87D4A;
  transition: all ease-in-out 0.1s;
}


.svgFooter:hover > .iconFooter{
  fill : #D87D4A;
  transition: all ease-in-out 0.1s;
}
/*  bg-pattern-circle bg-[-12rem_1rem]">
*/

.zx9-grid-home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D87D4A ;
  border-radius: 8px;
  color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 32px;
}

@media screen and (max-width:1024px) {
  .zx9-grid-home{
    flex-direction: column;
  }
  
} 


.block-scroll {
  overflow: hidden;
}




